<%-
  return unless !schemata.has_key?('links') || schemata['links'].empty?

  Prmd::Template::render(File.join('schemata', 'helper.erb'), options[:template], {
    options:         options,
    resource:        resource,
    schema:          schema,
    schemata:        schemata
  })

  title = schemata['title'].split(' - ', 2).last
  inheritance = ""
  if schemata['$ref']
    separator = " < "
    nested_title = schema.dereference(schemata['$ref'])[1]['title'].split(' - ', 2).last
    inheritance += separator + "[#{nested_title}](\##{nested_title})"
    separator = ", "
  end

  if schemata['allOf']
    separator = " < "
    schemata['allOf'].each do |object|
      if object.has_key?('$ref')
        nested_title = schema.dereference(object)[1]['title'].split(' - ', 2).last
        inheritance += separator + "[#{nested_title}](\##{nested_title})"
        separator = ", "
      end
    end
  end
%>
<a name="<%= title %>"><%= title %></a><%= inheritance %>
------------------------------
<%= schemata['description'] %>
<%- if schemata['properties'] && !schemata['properties'].empty? %>
  <%-
    required = schemata['required']
    attributes = extract_attributes(schema, schemata['properties'])
  %>
<%- end %>
<%- if schemata['allOf'] %>
  <%-
    required = extract_allOf_required(schema, schemata['allOf'], '')
    attributes = extract_allOf_attributes(schema, schemata['allOf'])
  %>
<%- end %>
<%- unless attributes.empty? %>
### Attributes
| Name | Required | Type | Description | Example |
| ------- | ------- | ------- | ------- | ------- |
  <%- attributes.each do |(key, type, description, example)| %>
| **<%= key %>** | <%- if !required.include?(key) %>(optional)<%- end %> | *<%= type %>* | <%= description %> | <%= example %> |
  <%- end %>
<%- end %>

<%- if schema.schemata_example(resource) %>
### Example
```json
<%= JSON.pretty_generate(schema.schemata_example(resource)) %>
```

<%- end %>
